body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #888888;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #8C6B2C;
}
.selected {
    background-color: #D0A85C;
}


/* Stylizacja dla nagłówka */
header {
  background: #1F1F1F;
  color: #fff;
  padding: 20px 10%;
  width: 100%;
  text-align: left;
}


/* Stylizacja dla pól tekstowych */
.text-fields-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0; /* Dodaj odstęp między checkboxami a polami tekstowymi */
}

.text-field {
  width: 200px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
   position: relative; /* Dodaj ten styl */
  z-index: 1; /* Dodaj ten styl */
}

/* Stylizacja dla przycisku */
#losujButton {
  width: 100px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  height: 100vh;
}

.field-container{
  position: relative;
  margin: 0px 0.5rem;
}
